@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
:root {
  --primary-color: #e9e3fe;
  --dark-color: #504c4c;
  --accent-color: #8a70d6;
  --light-color: #fbfbfb;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  background: #fcfcfc;
}

button,
span {
    font-family: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-color);
}

p {
  color: #bfbfbf
}

.container {
  margin: 0 auto;
  padding: 2rem 4rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 18% auto 25%;
  column-gap: 3rem;
}

.btn {
  font-family: inherit;
  border-radius: 1rem;
  outline: 0;
  border: none;
  box-shadow: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

/* ======================= Left side ================================================== */
.dashboard__left-side {
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left-side__logo {
  font-weight: bold;
  font-size: 1.5rem;
  height: 7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left-side__logo img {
  height: 5rem;
}

.navbar__item {
  font-size: 1.5rem;
  height: 4rem;
  color: #bbb;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.navbar__item:hover,
.navbar__item:focus {
  background-color: var(--primary-color);
  color: var(--dark-color);
  border-radius: 1.5rem;
}

.left-side__subs {
  padding-top: 6rem;
  align-self: flex-end;
  height: 55rem;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
  place-items: center;

}

.left-side__subs img {
  align-self: flex-start;
  grid-area: overlap;

  max-width: 100%;
  width: 90%;
  /* height: 100%; */
  object-fit: contain;
}

.left-side__subs--text {
  align-self: end;
  grid-area: overlap;

  background: var(--primary-color);
  border-radius: 1.5rem;
  padding: 1rem;
  width: 100%;
  height: 37rem;
  padding: 10rem 2rem 5rem 2rem; 
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  
}

.left-side__subs--text p {
  color: #999
}

.btn__primary {
  padding: 1rem 1.5rem;
  width: 90%;
  background: var(--accent-color);
  color: var(--light-color);
}

.btn__primary:hover {
  background: #e9e3fe;
  color: var(--accent-color);
  box-shadow: inset 0 0 0 0.2rem var(--accent-color);
  -webkit-box-shadow: inset 0 0 0 0.2rem var(--accent-color);
  -ms-box-shadow: inset 0 0 0 0.2rem var(--accent-color);
  -o-box-shadow: inset 0 0 0 0.2rem var(--accent-color);
}


/* ============================= Main ================================ */

.dashboard__main {
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__header {
  height: 7rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main__feader--search{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  
}

.main__new-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.main__new-course {
  height: 37vh;
  border-radius: 1.5rem;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;


}

.new-course__upper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__new-course img{
  align-self: center;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  
  border-radius: 1.5rem;
}

.cousre-geography {
  background: #FFF0E1;
}

.cousre-geography img {
  
  background: #FCAB5E;
}

.course-js {
  background: var(--primary-color);
}

.course-js img {
  background: var(--accent-color);
}

.course-photography {
  background: #E5F3FE;
}

.course-photography img {
  background: #579BE4;
}

.main__course--avatars {
  /* align-self: flex-end; */

  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
}

.main__course--avatars img{
  max-width: 100%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.btn__secondary {
  font-size: 2rem;
  color: var(--light-color);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1rem;
}

.cousre-geography button {
  background-color: #FCAB5E;
}

.course-js button {
  background: var(--accent-color);
}

.course-photography button {
  background: #579BE4;
}

.mycourses__header {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.mycourses__header a{
  color: var(--accent-color);
}

.mycourse__table {
  width: 100%;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.mycourse__table th {
  text-align: left;
  color: #999;
}

.mycourse__table tr {
  height: 7rem;
  margin: 0 3rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.mycourse__table--course:hover {
  background: rgb(240, 240, 240);
}

.mycourse__course-name {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
 
}



.course__icon {
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}



.mycourse__design {
  background: var(--primary-color);
  color: var(--accent-color);
}

.mycourse__development {
  background: #E5F3FE;
  color: #6099D4;
}

.mycourse__python {
  background: #FFE4FD;
  color: #E294D9;
}

.mycourse__html {
  background: var(--primary-color);
  color: var(--accent-color);
}

.mycourse__js  {
  background: #FFF0E1;
  color: #FCAB5E;
}

.mycourse__course-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}

.mycourse__course-title span {
  color: #999;
  font-size: 1.3rem;
}



/* ===================================== Right side ============================================================== */

.dashboard__right-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.righ-side__header {
  height: 7rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-side__account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.right-side__account img {
  background: var(--primary-color);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;

}

.right-side__account-name {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.right-side__account-name i {
  background-color: var(--accent-color);
  color: var(--light-color);
  font-size: 1rem;
  text-align: center;
  padding-top: 2px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.right-side__calendar {
  height: 30rem;
}

.homework__tiltle {
  height: 5rem;
}

.right-side__homework--progress {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.progress__box {
  width: 100%;
  height: 8rem;
  background: #fff;
  border-radius: 2rem;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  
  justify-content: space-between;
}

.progress__box a{
  align-self: flex-end;
}

.progress__box--left {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 1rem;
}

.progress__circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.progress__homework {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.progress__box--right {
  display: flex;
  place-items: center;
}
